* {
  margin: 0;
  /* background-color: blue; */
}

body{
  background-color: #f5f6fa;
}

.app-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}


/* INFOBOX */
.app__stats{
  display: flex;
  justify-content: space-between;
}

.app__right{
  display: flex;
  flex-direction: column;
}

.app{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.app__left{
  flex: 0.9;
}


@media  (max-width:990px){
      .app{
        flex-direction:column ;
      }
}

.linegraph{
  margin-top: 40px;
}


.worldwide{
  margin-top: 15px;
}